{% extends 'base.html.twig' %}

{% block title %}{{ discussion.titre }}{% endblock %}

{% block body %}

<h1>{{ discussion.titre }}</h1>

{% if discussion.getMessagesCount() %}
<ul>
    {% for message in messages %}
        <li>{{ message.texte }} - par {{ message.nickname }} <a href="/message_edit/{{ message.id }}">Editer</a></li>
    {% endfor %}
</ul>
{% endif %}

<a href="/message_new/{{ discussion.id }}">Nouvelle réponse</a>

{% endblock %}
